[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-stellar-theme"]
	path = themes/hugo-stellar-theme
	url = https://github.com/antonpolishko/hugo-stellar-theme.git
[submodule "themes/hugoBase"]
	path = themes/hugoBase
	url = https://github.com/crakjie/hugo-base-theme.git
