<!-- Call to Action -->
<div id="action" class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1 style="padding-bottom:.5em;">Getting Started</h1>
          <a href="https://hardcore-turing-7c156c.netlify.com/" class="btn btn-lg btn-primary">About me </a>
          
          <p>&nbsp;</p>
          
        <pre><code>Flashy Erik</code></pre>
        </div>
      </div>
    </div>
  </div>
  <!-- /Call to Action -->